body {
    background-color: #ffc107; /* bg-warning */

}

main {
    flex: 1;
}


menu {
    background-color: brown;
}



nav {

    margin: 0;
    background-color: darkred;
    color: #fff;
    padding: 10px;

}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    
}
.li-menu{
    margin: 0 10px;
}
li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: darkred;
    color: white;
    
    height: 30px;
}
.title-margin{
    margin:0, 10px ;
}

nav ul li {
    margin: 0 10px;
    cursor: pointer;
}

nav ul li.active {
    border-bottom: 2px solid #ff6600; /* Adapte a cor conforme necessário */
    opacity: 1;
    color: #ff6600; /* Adapte a cor conforme necessário */
}

nav ul li:hover {
    border-bottom: 2px solid #0077cc; /* Adapte a cor conforme necessário */
    opacity: 0.8;
    color: #0077cc; /* Adapte a cor conforme necessário */
}